.App {
    
}

.navbar {
    display: flex;
    background-color: aquamarine;
    justify-content: space-around;
    
}

.navDiv{
    position: relative;
   
}
body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  

.itemsIcon {
    position: absolute;
    bottom: 10px;
    left: 2px;
}

.itemsDiv{
    background-color: white;
    color: red;
    width: 20px;
    border-radius: 50%;
    text-align: center;
    
}

.img {
    height: 400px;
}

.carttt {
    text-align: center;
}

.clear {
    border: none;
    padding: 10px;
    border-radius: 30px;
    background-color: rgb(44, 50, 207);
    color: white;
    margin-bottom: 50px;
    cursor: pointer;
}

.clear:hover{
    opacity: 0.9;
}

.techItem {
    display: flex;
    justify-content: space-between;
    margin: 50px 150px;
}

.baslık{
    font-size: 30px;
    font-family:Arial, Helvetica, sans-serif;
    color: red;
}

.techInfo {
    text-align: right;
    margin-right: 100px;
}

.techButton {
    border: none;
    background-color: aqua;
}

.techquantity{
    margin-right: 10px;
}

.techDelete {
    border: none;
    padding: 10px;
    border-radius: 30px;
    background-color: rgb(221, 28, 50);
    color: white;
    margin-top: 30px;
    cursor: pointer;
}
.techDelete:hover{
    opacity: 0.85;
}